* {
  font-family: 'Raleway', sans-serif;
  color: #333333;
  /* color: #dcdcdc; */
  box-sizing: border-box;
}

html {
  min-height: 100%;
  margin: 0
}

body {
  min-height: 100%;
  margin: 0;
  overflow-y: scroll;
  background-color: #FFFFF0;

  /* background: rgb(29,50,73); */
  /* background: -webkit-linear-gradient(bottom, rgba(29,50,73,1) 0%, rgba(9,13,20,1) 93%);
  background: -o-linear-gradient(bottom, rgba(29,50,73,1) 0%, rgba(9,13,20,1) 93%);
  background: linear-gradient(to top, rgba(29,50,73,1) 0%, rgba(9,13,20,1) 93%); */
  /* min-height: 1400px;
  height: 100%; */
}

p {
  font-size: 30px;
}

li {
  font-size: 20px;
  padding: 10px;
}

.header {
  display: block;
  text-align: center;
}

.logo {
  height: 150px;
  margin: 30px;
}

.content {
  padding: 0px 15%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.about {
  display: flex;
  align-items: center;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
}

.photo {
  float: left;
  width: 250px;
  min-width: 250px;
  border-radius: 360px;
  margin: 0px 40px;
  clear: both;
  vertical-align: middle;
}

.contact {
  margin: 0 auto;
  margin-top: 100px;
}
ul.navrow {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

li.active {
  border-bottom: 5px solid #508FAF !important;
  padding-bottom: 0px;
}

li.nav-item {
  display: inline;
  text-transform: uppercase;
  font-size: 25px;
  margin: 60px;
}

a {
  text-decoration: none;
  color: #508FAF;
}

h2 {
  font-size: 2.5em;
}

li.nav-item > a {
  color: #333333;
}
li.nav-item:hover {
  border-bottom: 5px solid #508FAF;
}

p.bio {
  font-size: 2em;
  margin: 0px;
  /* overflow: auto; */
  display: block;
}

span.bold {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

i {
  vertical-align: middle;
  /* color: #508FAF; */
}
